.page-title-image {
  height: 276px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.books-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 52px;

  &__item {
    img {
      height: 235px;
    }
  }
}
