.recipe-preview {
  &__cover {
    height: 272px;
    background-position: center;
    background-size: cover;
  }

  &__complexity {
    &-indicator {
      width: 12px;
      height: 12px;
      border: 1px solid #8c8c8c;
      border-radius: 50%;

      &.filled {
        background-color: #8c8c8c;
      }
    }
  }
}
